#
# ~/.gitconfig
#

[core]
	excludesFile = ~/.cvsignore
	pager = diff-highlight | less -R

[alias]
	ap = add --patch
	br = branch --verbose
	ca = commit --amend
	ci = commit
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	di = diff
	dt = difftool
	lo = log --oneline
	lp = log --patch
	mt = mergetool
	pf = push --force-with-lease
	pu = push
	ra = rebase --abort
	rb = rebase
	rc = rebase --continue
	ri = rebase --interactive
	rp = rebase --show-current-patch
	sp = stash pop
	ss = stash push
	st = status
	up = pull

[color "diff-highlight"]
	oldHighlight = bold
	oldReset = no-bold

[commit]
	verbose = true

[diff]
	mnemonicPrefix = true

[fetch]
	prune = true

[grep]
	lineNumber = true
	patternType = perl

[init]
	defaultBranch = master

[interactive]
	singleKey = true
	diffFilter = diff-highlight

[pull]
	rebase = true

[push]
	default = current

[rebase]
	autoSquash = true

[status]
	short = true
	branch = true

[user]
	useConfigOnly = true

[include]
	path = ~/.gitconfig.local
