#
# ~/.gitconfig
#

[core]
	excludesfile = ~/.cvsignore
	pager = less -eFRSX

[alias]
	ap = add --patch
	br = branch
	ca = commit --amend
	ci = commit
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	di = diff
	pf = push --force-with-lease
	pu = push
	ra = rebase --abort
	rb = rebase
	rc = rebase --continue
	ri = rebase --interactive
	sp = stash pop
	ss = stash save
	st = status --short --branch
	up = pull

[diff]
	mnemonicprefix = true

[grep]
	patterntype = perl

[merge]
	tool = vimdiff

[mergetool]
	prompt = false

[push]
	default = current

[include]
	path = ~/.gitconfig.local
