! ~/.Xresources

*customization: -color

XScreenSaver.lock: true
XScreenSaver.dpmsEnabled: true
XScreenSaver.dpmsQuickOff: true
XScreenSaver.splash: false
XScreenSaver.newLoginCommand:
XScreenSaver.fade: false
XScreenSaver.captureStderr: false
XScreenSaver.mode: blank

XTerm.termName: xterm-256color
XTerm*vt100.background: black
XTerm*vt100.color4: DodgerBlue1
XTerm*vt100.color12: SteelBlue1
XTerm*vt100.faceName: DejaVu Sans Mono
XTerm*vt100.faceSize: 14
XTerm*vt100.foreground: gray90
XTerm*vt100.highlightSelection: true
XTerm*vt100.metaSendsEscape: true
XTerm*vt100.pointerMode: 2
XTerm*vt100.saveLines: 2048
XTerm*vt100.scrollBar: false
XTerm*vt100.trimSelection: true
XTerm*vt100.visualBell: true

Xft.hintstyle: hintfull
Xft.rgba: rgb
