---
apps_dirs:
  - apps/*
  - lib/*
  - .

deps_dirs:
  - _checkouts/*
  - _build/default/lib/*
  - deps/*

include_dirs:
  - apps/*/include
  - apps
  - lib/*/include
  - lib
  - include
  - _checkouts/*/include
  - _checkouts
  - _build/default/lib/*/include
  - _build/default/lib
  - deps/*/include
  - deps

diagnostics:
  disabled:
    - bound_var_in_pattern
    - dialyzer
